html,body {
    background-color: whitesmoke;
    height: 100%;
    width: auto;
}

img {
  width: 1000;
  height: 1000;
}

h1 {
  font-size: 80px;
  font: small-caps bold 80px/1 sans-serif;
  background: #FFD971;
  background: linear-gradient(to right, #FFD971 0%, #FF6FC5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(255, 126, 95, 0.5);
}

button:hover {
  background: linear-gradient(90deg, #feb47b, #ff7e5f);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 126, 95, 0.7);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 4px 10px rgba(255, 126, 95, 0.3);
}

p {
  font-family: 'Roboto', sans-serif; /* Стильный шрифт */
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
}

